[Desktop Entry]
Encoding=UTF-8
Name=Link to README.md
Type=Link
URL=https://github.com/MatDeiber/deep-reinforcement-learning/blob/master/p1_navigation/README.md
Icon=text-html
